---
layout: layout
---
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 标签云 -->
            <!-- <div id='tag_cloud' class="tags">
                <% site.tags.map(function(tag){  %>
                    <a href="#<%= tag.name %>" title="<%= tag.name %>" rel="<%= tag.length %>"><%= tag.name %></a>
                <% }) %>
            </div> -->

            <!-- 分类列表 -->

            <% site.categories.map(function(category){  %>
            <div class="one-tag-list">
                <span class="fa fa-tag listing-seperator" id="<%= category.name %>">
                    <span class="tag-text"><%= category.name %></span>
                </span>
                <% category.posts.map(function(post){  %>
                  <!-- <li class="listing-item">
                  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
                  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                  </li> -->
                 <div class="post-preview">
                     <a href="<%- config.root %><%- post.path %>">
                        <h2 class="post-title">
                            <%- post.title || "Untitled" %>
                        </h2>
                        <% if (post.subtitle && post.subtitle.length) { %>
                            <h3 class="post-subtitle">
                                <%- post.subtitle %>
                            </h3>
                        <% } %>
                        <h3 class="post-subtitle" style="margin: 10px 0;">
                            Posted by <%- post.author || config.author %> on
                            <%= post.date.format(config.date_format) %>
                        </h3>
                    </a> 
                </div>
                <hr>
                <% }) %>
            </div>
            <% }) %>


        </div>
    </div>
</div>
